<p>
{{title4}}
  </p>
<div>
<jce-post-form  (userAddedEvent) = "addPost($event)"></jce-post-form>    
  <h3>Posts list:</h3>
    <jce-spinner [visible] = "isLoading"></jce-spinner>
  <ul class="list-group posts" >
        <li class="list-group-item" *ngFor = "let post of posts" >
           ID: {{post.id}}, Title: {{post.title}} ,Body:{{post.body}}
        <!--  <jce-post [post] = post></jce-post> -->
        <jce-post [post] = post (deleteEvent) = "deletePost($event)"></jce-post>      
          </li>
              
             
      
  </ul>
</div>